<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.goodee.dao.BicycleRealTimeDAO">

	<select id="bicycleRental" resultType = "kr.co.goodee.dto.BicycleRentDTO">
		SELECT * FROM T3_bicycle_rent
	</select>
	
	<select id="findBrName" resultType="String">
		SELECT br_name FROM T3_bicycle_rent WHERE br_idx = #{param1}
	</select>

</mapper>