<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.goodee.dao.FreeBoardDAO">
	<select id="FreeBoardlist" resultType = "board">
		SELECT * FROM T3_bbs WHERE category=1 ORDER BY b_idx DESC
	</select>
	
	<insert
		parameterType = "board"
		useGeneratedKeys = "true"
		keyProperty="b_idx"
		keyColumn = "b_idx"
		id = "FreeBoardwrite">
		INSERT INTO T3_bbs(b_idx,id,subject,content,bHit)
			VALUES(seq_bbs.NEXTVAL,#{id},#{subject},#{content},0)
	</insert>
	
	<insert id ="FreeBoardwriteFile">
		INSERT INTO	T3_photo(f_idx,id,b_idx,oriFileName,newFileName)
			VALUES(seq_photo.NEXTVAL,#{param1},#{param2},#{param3},#{param4})
	</insert>
	
	<!-- 글 상세보기 글과 파일 두개의 값을 가져와야하기때문에 쿼리문을 두개 씀-->
	<select id="FreeBoarddetail" resultType = "board">
		SELECT * FROM T3_bbs WHERE b_idx = #{param1}
	</select>
	
	<select id ="FreeBoardfileList" resultType = "files">
		SELECT * FROM T3_photo WHERE f_idx = #{param1}
	</select>
	
	<delete id="FreeBoarddelete">
		DELETE FROM T3_bbs WHERE b_idx = #{param1}
	</delete>
	
	<update id = "FreeBoardbHit" parameterType = "String">
		UPDATE T3_bbs SET bHit = bHit+1 WHERE b_idx = #{b_idx}
	</update>
	
	<update       
      parameterType="board"
      id ="FreeBoardupdate">
      UPDATE T3_bbs
      <set>
         <if test="!subject.equals('')">subject=#{subject},</if>
         <if test="!content.equals('')">content=#{content}</if>
      </set>
      WHERE b_idx = #{b_idx}
   </update>
   
   <delete id="FreeBoarddeleteFile">
      delete from T3_photo where b_idx = #{param1} and  NEWFILENAME = #{param2}
   </delete>
   
   
	
</mapper>